
        <h2 class="" onclick="triggerDiv('awards')"id="awardsTitle">Contests &amp; Certifications</h2>

        <div  id="awards" >
          <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
            <div class="my-auto">
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li fa fa-trophy text-warning"></i>
                  Participation in the contest <p class="triggerImage" id="Certi_Apps4Good">AppsForGood (Click)</p>
                </li>
                <li  >
                  <i class="fa-li fa fa-trophy text-warning"></i>
                  Specialized Tech./Voc <p class="triggerImage imgT" id="Certi_before_Uny">Technician Of Management and Programming Of Computer Systems (Click)</p>
                </li>
                <li>
                  <i class="fa-li fa fa-trophy text-warning"></i>
                  LinkedIn Learning Platform:<br>
                  <span class="devicon-nodejs-plain-wordmark colored"></span><br>
                  <a style="color: #000000; " class="triggerImage" id="Certi_essential_NodeJs" >Certificate of Completion Node.Js Essential Training (Click)</a>
                 </li>
              </ul>
            </div>
          </section>
        </div>
