<section class=" p-5 m-5">
  <h2 (click)="escondeElement('experience')" id='experienceTitle'>
    <mat-icon>eject</mat-icon> {{componentTitle}}
  </h2>
  <article id="experience">

    <ngb-accordion *ngFor="let data of jobsElement" id="accordionTotal">
      <ngb-panel id="{{data.id}}">

        <ng-template ngbPanelHeader let-opened="opened">
          <header class="d-flex align-items-center justify-content-between border-0">

            <button ngbPanelToggle class="btn border-0 container-fluid text-left titleAccord ">
              {{data.jobTitle}}<br>{{data.jobLocal}}
              <h6 class="float-right ">
                {{ data.date}}
              </h6>
            </button>

          </header>
        </ng-template>

        <ng-template ngbPanelContent>

          <ngb-tabset [justify]="currentJustify">


            <ngb-tab>
              <ng-template ngbTabTitle><b>Description</b></ng-template>
              <ng-template ngbTabContent>
                <p>{{data.description[0]}}</p>
                <p>{{data.description[1]}}</p>
              </ng-template>
            </ngb-tab>

            <ngb-tab>
              <ng-template ngbTabTitle><b>Skills</b></ng-template>
              <ng-template ngbTabContent>
                <mat-grid-list cols="2" rowHeight="2:1">
                  <!-- 2 col 2 rows -->
                  <mat-grid-tile>
                    <p>{{data.jobSkills[0]}}</p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <p>{{data.jobSkills[1]}}</p>
                  </mat-grid-tile>
                </mat-grid-list>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>

        </ng-template>

      </ngb-panel>
    </ngb-accordion>


    <!--
    <mat-grid-list cols="1" rowHeight="1:1" *ngFor="let data of jobsElement" >
        <mat-grid-tile>
          <header class="d-flex align-items-center justify-content-between border-0 ">

            <button mat-button class="btn border-0 container-fluid text-left titleAccord " >
              {{data.jobTitle}}<br>{{data.jobLocal}}
              <h3 class="btn border-0 float-right ">
                {{ data.date}}</h3>
            </button>
          </header>

        </mat-grid-tile>

        <mat-grid-tile>
            <mat-tab-group >
              <mat-tab label="Description">
                <ng-template matTabContent>
                <h4>{{data.description[0]}}</h4>
                </ng-template>
              </mat-tab>
              <mat-tab label="Skills">
                  <ng-template matTabContent>
                <h4>{{data.description[1]}}</h4>
                </ng-template>
              </mat-tab>
            </mat-tab-group>


        </mat-grid-tile>
      </mat-grid-list> -->
  </article>

</section>
