
<section class="p-5 m-5">
<h2  >Skills</h2>

<main id="skills" class="p-3" >

  <section class="resume-section d-flex flex-column">
    <main class="my-auto">


      <main class="subheading mb-3">Programming Languages &amp; Tools</main>
      <p>Web Development</p>
      <ul class="list-inline list-icons">
        <li class="list-inline-item " data-toggle="tooltip" data-placement="bottom" title="HTML5">
          <i class="devicon-html5-plain"></i>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="CSS">
          <i class="devicon-css3-plain-wordmark"></i>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Native JaveScript">
          <i class=" devicon-javascript-plain"></i>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="PHP7">
          <i class="devicon-php-plain"></i>
        </li>
        <br>

        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Bootstrap">
          <i class="devicon-bootstrap-plain-wordmark"></i>
        </li>

        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Jquery Framework">
          <i class="devicon-jquery-plain"></i>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="TypeScript">
            <i class="devicon-typescript-plain "></i>
        </li>

        <br>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Angular8">
            <i class="devicon-angularjs-plain "></i>
          </li>

        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="CodeIgniter">
          <i class="devicon-codeigniter-plain-wordmark"></i>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Node.js">
          <i class=" devicon-nodejs-plain-wordmark"></i>
        </li>

        <br>

        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Apache">
          <i class="devicon-apache-line"></i>
        </li>
        <li class="list-inline-item " data-toggle="tooltip" data-placement="bottom" title="Sql/No-SQL Databases">
          <i class="devicon-mysql-plain-wordmark"></i>
        </li>
        <li class="list-inline-item " data-toggle="tooltip" data-placement="bottom" title="Sql/No-SQL Databases">
          <i class="devicon-mongodb-plain-wordmark"></i>
        </li>
      </ul>



      <main class="subheading mb-2">Web Workflow</main>

      <ul class="fa-ul mb-0">
        <li class="list-inline-item">
          <i class="fa-li fa fa-check"></i>
          <a style="color: #000000"><i class="devicon-linux-plain"></i></a>
          Linux -<a style="color: #000000"> Preferred</a></li>

        <li>
        <li class="list-inline-item">
          <i class="fa-li fa fa-check"></i>
          <i class="devicon-windows8-original "></i>
          Windows Server 2008</li>

        <li>

        <li>
          <i class="fa-li fa fa-check"></i>
          Responsive Design - Desktop & Mobile </li>
        <li>
          <i class="fa-li fa fa-check"></i>
          <i class="devicon devicon-chrome-plain-wordmark" data-toggle="tooltip" data-placement="bottom"
            title="Google Chrome Browser"></i> and <i class="devicon-firefox-plain-wordmark" data-toggle="tooltip"
            data-placement="bottom" title="Mozilla Firefox Browser"></i> Browsers for Testing &amp; Debugging</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Sublime Text or Visual Studio Code as editing tool</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Agile Development &amp; Scrum &amp; Kanban</li>

        <li class="list-inline-item" title="Github">
          <i class="fa-li fa fa-check"></i>
          <i class="devicon devicon-github-plain" data-toggle="tooltip" data-placement="bottom" title="Github CLI"></i>
          tool to save the work
        </li>
      </ul>

      <br>

      <p>Software Development</p>

      <ul class="list-inline list-icons">
        <li class="list-inline-item">
          <i class="devicon-cplusplus-line" data-toggle="tooltip" data-placement="bottom" title="C++"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-visualstudio-plain" data-toggle="tooltip" data-placement="bottom" title="Visual Basic"></i>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Python">
          <i class="devicon-python-plain-wordmark"></i>
        </li>
        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="C#">
          <i class="devicon-csharp-line-wordmark"></i>
        </li>

        <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Java">
          <i class="devicon-java-plain "></i>
        </li>
      </ul>



      <main class="subheading mb-2">Software Workflow</main>

      <ul class="fa-ul mb-0">
        <li class="list-inline-item">
          <i class="fa-li fa fa-check"></i>
          <a style="color: #000000; "><i class="devicon-linux-plain"></i></a>
          Linux </li><br>

        <li class="list-inline-item">
          <i class="fa-li fa fa-check"></i>
          <i class="devicon-windows8-original "></i>
          Windows 7/8.1/10</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Responsive/Dynamic Design </li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Sublime Text | NetBeans | <b>Visual Studio</b> | <b>CLI</b> as Testing & Debugging & Editing tool</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Agile Development Scrum &amp; Kanban</li>
      </ul>
    </main>

    <br>

    <main class="subheading mb-2">Extra Tools</main>

    <ul class="fa-ul mb-0">
      <li class="list-inline-item">
        <i class="fa-li fa fa-check"></i>
        <a style="color: #000000; "><i data-toggle="tooltip" class="devicon-photoshop-line"  title="Photoshop"></i></a>
        with basic 3D modeling
      </li>

    </ul>
  </section>

</main>
</section>
