.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.example-sidenav{
  width: 16%;
}
.textCentered{
  text-align: center;
}

.navbar{
  z-index: 2;
  position: fixed;
  width: 100%;
  color: chartreuse;
  height: 11%;

}
