
<mat-sidenav-container class="example-container">

    <mat-sidenav [ngClass]="triColor[0]" class="example-sidenav "  *ngIf="triggerNavigation == 'header'"  mode="side" opened>

        <apr-sidenav  class="text-inside-grid-center  "></apr-sidenav>

    </mat-sidenav>
    <mat-sidenav-content  >

  <apr-navbar  *ngIf="triggerNavigation == 'topbar'"  [ngClass]="triColor[1]"  class="navbar navbar-light " id="navbar"></apr-navbar>

      <object >
        <!-- <apr-about ></apr-about>
        <apr-experience></apr-experience>
        <apr-education ></apr-education>
        <apr-skills></apr-skills>
        <apr-interests></apr-interests> -->
        <router-outlet  ></router-outlet>
      </object>

    </mat-sidenav-content>
  </mat-sidenav-container>
